.menuIcon {
  width: 18px;
  height: 18px;
} 

.menuIconButton{
  border: none;
  background-color: transparent;
  margin-left: 12px;
  border-radius: 5px;
  width: 32px;
  height: 32px;

}

.menuIconButton:hover{
  transition: 0.5s ease-out;
  background-color: var(--black);
}