.pokeStatus{
  width: 9.1rem;
  text-align: center;
  font-size: 0.7rem;
  margin-top: 10px;
}

.pokeStatus > h1{
  margin: 0;
  background-color: var(--darkWhite);
  border-radius: 5px 5px 0px 0px;
}

.containerButtonChar {
  display: flex;
  justify-content: center;
}

.buttonCharacteristcLess {
  border-radius: 0px 0px 0px 5px;
}

.buttonCharacteristcMore {
  border-radius: 0px 0px 5px 0px;
}

.minusSign{
  margin-bottom: 3px;
  width: 14px;
}

.plusSign {
  margin-top: 3px;
  width: 14px;
}

.numberChar {
  width: 66px;
}