.pokeStatus{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 104px;
  height: 47px;
  color: var(--whiteFont);
  font-size: 7.6px;
  border: 1px solid var(--blackTheme);
  border-radius:  10px 10px 12px 12px;;
}

.containerButtonChar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 104px;
  height: 24px;
  background: var(--blackTheme);
  border-radius: 15px;
}

.minusSign{
  width: 20px;
  margin-left: 1px;
}

.plusSign {
  width: 20px;
  margin-right: 1px;
}

.numberChar {
 color: var(--whiteFont);
}

.typeChar{
  margin-top: 4px;
}
