.pokeStatus{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 148px;
  height: 72px;
  color: var(--whiteFont);
  font-size: 8.6px;
  border: 1px solid var(--blackTheme);
  border-radius:  15px 15px 24px 24px;;
}

.containerButtonChar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 148px;
  height: 36px;
  background: var(--blackTheme);
  border-radius: 15px;
}

.minusSign{
  width: 36px;
  margin-left: 1px;
}

.plusSign {
  width: 36px;
  margin-right: 1px;
}

.numberChar {
 color: var(--whiteFont);
 font-size: 14px;
}

.typeChar{
  margin-top: 4px;
}
