.buttonSave{
  width: 148px;
  height: 40px;
  font-size: 14px;
  color: var(--white);
  background: var(--sizzling-red);
  box-shadow: 2px 2px 2px rgba(52, 52, 52, 0.25);
  border-radius: 10px;
  font-family: 'Play', sans-serif;
  border: none;
  font-weight: 600;
}

.buttonSave:disabled{
  background: var(--sizzling-red);
  border: none;
}
.buttonSave:disabled:hover {
  border: none;
}
.buttonSave:hover{
  border: 1px solid var(--white)
}