.popUpNickName{
  box-sizing: border-box;
  padding: 8px;
  position: absolute;
  width: 148px;
  height: 100px;
  background-color: var(--sizzling-red);
  color: var(--white);
  border-radius: 5px;
  opacity: 0.8;
  top: 20%;
  margin: 0 auto;
  font-size: 14px;
  
}