.nickNameContainer {
  display: flex;
  width: 160px;
  height: 24px;
  align-items: center;
  justify-content: center;
  grid-area: nick;
  justify-self: center;
}

.nickNameContainer > p {
  color: var(--whiteFont);
  font-size: 16px;
  font-weight: 700;
}