.nickNameContainer {
  display: flex;
  width: 160px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.nickNameContainer > p {
  color: var(--blackTheme);
  font-size: 16px;
  font-weight: 600;
}