.battleContainer {
  box-sizing: border-box;
  background-color:var(--dark-purple);
  width: 100vw;
  height:100vh;
  color: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 8px
}

.topContainer{
  height: 88px;
  display: flex;
  margin-top: 8px;
  gap: 16px;
  width: 344px;
}

.imgContainer {
  height: 120px;
  width: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.footerContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}


.manaBar{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 120px;
  background: var(--pewter-blue);
  border-radius: 0px 15px 15px 0px;
  font-size: 12px;
}

.lifeBar{
  box-sizing: border-box;
  margin-right: -1px;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 118px;
  background-color: transparent;
  border-radius: 15px 0px 0px 15px;
  font-size: 12px;
  overflow: hidden;
  
 outline: 1px solid var(--sizzling-red);
}
#lifeBarBot{
  position: absolute;
  content: "";
  height: calc(var(--progress) * 1px);
  width: 16px;
  background-color: var(--sizzling-red);
  bottom: 0;
}

#lifeBarPlayer{
  position: absolute;
  content: "";
  height: calc(var(--progress) * 1px);
  width: 16px;
  background-color: var(--sizzling-red);
  bottom: 0;
}

.middleContainer{
  display: flex;
    height: 174px;
    min-width: 96%;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.profileButton{
  width: 148px;
  height: 40px;
  background: var(--sizzling-red);
  box-shadow: -3px -3px 3px var(--sizzling-red),;
  border-radius: 10px;
  border: none;
  margin-bottom: 16px;
  color: var(--white);
}

.profileButton:hover{
  border: 1px solid var(--white);
}

.containerBattleLog{
  width: 254px;
  height: 88px;
}

.containerEndBattleLog{
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92vw;
  height: 87.5vh;
}

.themeIconBattle{
  display: none;
}

.lifeNumberBar{
  position: absolute;
}