.battleContainer {
  box-sizing: border-box;
  background-color:var(--lightBlack);
  width: 22.5rem;
  height:40rem;
  color: var(--darkWhite);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.topContainer{
  margin: 8px 8px 0px 8px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgContainer {
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainerTop {
  margin: 25px 6px 0px 6px;
}

.imgContainerBot {
  margin: 0px 6px 25px 6px;
}

.footerContainer{
  margin: 0px 8px 8px 8px;
  display: flex;
  height: 160px;
  align-items: center;
  justify-content: space-between;
}
