.lifeContainer {
  display: flex;
  border-radius: 5px;
  align-items: center;
  width: 108px;
  height: 32px;
  background-color:var(--dark-purple);
  border-radius: 25px;
  gap: 8px;
  justify-content: start;
  margin-top: 8px;
}

.lifeContainer > img{
  margin-left: 12px;
}

.lifeContainer > p {
  color: var(--white);
}
