.life > h2 {
  font-size: 14px;
  color: var(--white);
  margin-top: 8px;
  margin-bottom: 8px;
}


.life{
  width: 56px;
  height: 56px;
  background: var(--sizzling-red);
  border-radius: 15px;
  text-align: center;
}

.numberLife{
  margin: 0;
  font-size: 14px;
  color: var(--white);
}