.life {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.life  h2 {
  margin: 0;
  margin-left: 1.5rem;
}

.life  div {
  margin-bottom: 1.4rem;
  margin-left: 1.5rem;
}

.lifeNumber {
  border-radius: 5px;
  width: 50px;
}
