:root {
  --color1:#232323;
  --color2:#DEDEDE;
  --color3:#FCE728;
  --color4:#DB0A2D;
  --color5:#28ABFD;

  --black:#0B090A;
  --lightBlack:#161A1D;

  --darkRed:#660708;
  --mediumRed:#A4161A;
  --red:#BA181B;
  --lightRed:#E5383B;

  --darkGrey:#B1A7A6;
  --grey:#D3D3D3;

  --darkWhite:#F5F3F4;
  --white:#FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: 'Signika Negative', sans-serif;
  background-color: rgba(0, 0, 0, 0.712);
  
}

.button {
  display: relative;
  width: 2.5rem;
  height: 2rem;
  background-color: var(--darkWhite);
  color: var(--mediumRed);
  border: none;
  cursor: pointer;
}

.button:hover {
  border: 2px solid var(--darkRed);
}


.number {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  width: 2.2rem;
  height: 2rem;
  background-color: var(--darkWhite);

}

.navigateButton {
  width: 150px;
  height: 46px;
  font-weight: 700;
  border-radius: 5px;
} 

