:root {
  --color1:#232323;
  --color2:#DEDEDE;
  --color3:#FCE728;
  --color4:#DB0A2D;
  --color5:#28ABFD;

  --black:#0B090A;
  --lightBlack:#161A1D;

  --darkRed:#660708;
  --mediumRed:#A4161A;
  --red:#BA181B;
  --lightRed:#E5383B;

  --darkGrey:#B1A7A6;
  --grey:#D3D3D3;

  --darkWhite:#F5F3F4;
  --white:#FFFFFF;

  --lightBlue: #5038E5;

  --blackTheme: #343434;

  --mainGreen: #38B000;
  --hoverGreen: #9EF01A;
  --whiteFont: #F8F9FA;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: 'Play', sans-serif;
}

h1 {
  font-family: 'Play', sans-serif;
}
.button {
  display: relative;
  border: none;
  width: 148px;
  height: 40px;
  left: 106px;
  top: 116px;
  background: linear-gradient(90deg, #38B000 0%, #008000 100%);
  box-shadow: -3px -3px 3px rgba(56, 176, 0, 0.15), 3px 3px 3px rgba(56, 176, 0, 0.15);
  border-radius: 10px;
  font-family: 'Play', sans-serif;
  color: var(--whiteFont);
  font-size: 12px;
  font-weight: 600;
}

.button:hover {
  
  border: 1px solid var(--hoverGreen);
  
}


.number {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  width: 2.2rem;
  height: 2rem;
  background-color: var(--darkWhite);

}

.navigateButton {
  width: 148px;
  height: 40px;
  border-radius: 10px;
  
} 

