.totalPoints {
  display: flex;
  flex-direction: column;
  grid-area: totalP;
  width: 5rem;
  align-items: center;
  justify-content: center;
  
}

.totalPoints  h1 {
 margin: 0;
 margin-right: 1rem;
}

.totalPoints div {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.totalNumber{
  border-radius: 5px;
  width: 50px;
}