.imagePokeContainer {
  grid-area: pokeImg;
  position: relative;
  width: 160px;
  height: 160px;
  justify-self: center;
  align-self: flex-start;
}

.imagePoke {
  position: absolute;
  width: 160px;
  z-index: 1;
  left: 0;
  top: 0;
}

.baseImg{
  margin-top: 114px
}

