header {
  display: flex;
  flex-direction: column;
}

footer {
  width: 100vw;
}

ul {
  list-style: none;
}

.headerFirst {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 0px 16px;
}

.headerSecond {
  text-align:center;
}

.mainpageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-purple);
  padding: 24px;
  position: relative;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
  
}

.imgExemplo {
 
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--sizzling-red);
}


.mainThemeIcon{
  box-sizing: border-box;
  padding-top: 4px;
}

.carousel {
  width: 60vw;
  padding: 8px;
  display: flex;
  gap: 16px;
	overflow: scroll;
	height: 60vh;
}

@media (max-width: 1020px){
  .menuHeader{
    display: none;
    
  }
}

@media (min-width: 1020px){

  .linkHeader{
    background-color: transparent;
    border: none;
    color: var(--sizzling-red);
    font-size: 14px;
  }
  
  .menuHeader{
    display: flex;
    gap: 24px;
    
  }

  .headerFirst {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    
  }

  .titleHeaderContainer{
    margin-right: 172px;
  }

  .mainContainer {
    display: flex;
    width: 100vw;
    justify-content: center;
    
  }

  .carousel {
    width: 100vw;
    padding: 8px;
    display: flex;
    gap: 16px;
    overflow: auto;
    justify-content: center;
  }

}

