header {
  display: flex;
  flex-direction: column;
}

footer {
  width: 100vw;
}

.headerFirst {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerSecond {
  text-align:center;
}

.mainpageContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: var(--blackTheme);
  padding: 24px;
  position: relative;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.imgExemplo {
  width: 136px;
  border-radius: 10px;
  border: 1px solid var(--mainGreen);
}


