.createNameContainer {

  box-sizing: border-box;
  background-color:var( --dark-purple);
  width: 100vw;
  height:100vh;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topContainerCreateNick{
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 28px;
}

.theIconCreateNick{
  position: absolute;
  right: 24px;
  top: 24px;
}

h1 {
  margin: 0;
}

.mainContainerCreateNick{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 224px;
}