.profileContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color:var(--dark-purple);
  width: 100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleProfile {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--sizzling-red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left:104px;
}

.topContainerProfile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.profileThemeIcon {
  margin-left: 88px;

}