.fieldSearch {
  height: 40px;
  width: 312px;
  border: none;
  background-color: transparent;
  color: var(--white);;
  text-align: center;
  top: 0;
  left: 0;
  outline-style: initial;
  font-family: 'Play', sans-serif;
}

.fieldSearch::placeholder {
  color: var(--white);;
  font-weight: 700;
}

.fieldSearchContainer{
  display: flex;
  border: 1px solid var(--sizzling-red);
  height: 40px;
  width: 312px;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.buttonSearch {
  border: none;
  position: absolute;
  background-color: transparent;
  margin-top: 8px;
  margin-right: 8px;
  top: 0;
  right: 0;
  z-index: 2;
}


