.fieldSearch {
  height: 46px;
  width: 302px;
  border: none;
  background-color: transparent;
  color: var(--mediumRed);
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  
}

.fieldSearch::placeholder {
  color: var(--mediumRed);
  font-weight: 700;
}

.fieldSearchContainer{
  display: flex;
  background-color: var(--white);
  height: 46px;
  width: 306px;
  align-items: center;
  border-radius: 50px;
  justify-content: end;
  position: relative;
  margin-bottom: 10px;
}

.buttonSearch {
  position: absolute;
  background-color: transparent;
  margin-top: 10px;
  top: 0;
  right: 0;
  z-index: 2;
}

.buttonSearch:hover {
  border: none;
}
