

.backArrow {
  width: 18px;
  height: 18px;
  margin-left: 16px;
  margin-top: 22px;
  align-self: flex-start;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  border-radius: 5px;
  padding: 8px;
}

.backArrow:hover{
  border: 1px solid var(--mainGreen);
}