.backArrow {
  width: 18px;
  height: 18px;
  margin-left: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  border-radius: 5px;
  padding: 8px;
}

.backArrow:hover{
  transition: 0.5s ease-out;
  background-color: var(--black);
}