
.containerPoke {
  box-sizing: border-box;
  background-color:var(--lightBlack);
  border-radius: 5px;
  width: 22.5rem;
  height:40rem;
  color: var(--mediumRed);
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: 
    "lifeMana pokeImg pokeImg totalP"
    "name name name name"
    "force force ability ability"
    "resistence resistence armor armor"
    "firePower firePower firePower firePower"
    "reset reset save save"
  ;
  justify-items: center;
  align-items: center;
}


.force{
  grid-area: force;
  
}
.ability{
  grid-area: ability;
}
.resistence{
  grid-area: resistence;
} 
.armor {
  grid-area: armor;
}
.firePower{
  grid-area: firePower;
  margin-bottom: 16px;
}
.reset{
  grid-area: reset;
} 
.save{
  grid-area: save;
}


