


.containerPoke {
  
  box-sizing: border-box;
  background: var(--dark-purple) 100%;
  width: 100vw;
  height:100vh;
  display: grid;
  grid-template-columns: 1fr 95px 95px 1fr;
  grid-template-rows: auto 172px 80px 72px 88px 88px 88px 56px auto;
  grid-template-areas: 
      ". . . ."
    "lifeMana pokeImg pokeImg themeIcon "
    "name name name name"
    "totalP totalP totalP totalP"
    "force force ability ability"
    "resistence resistence armor armor"
    "firePower firePower firePower firePower"
    "reset reset save save"
    ". . . ."
  ;
  align-items: center;
}

.force{
  grid-area: force;
  justify-self: end;
  margin-right: 16px;
}
.ability{
  grid-area: ability;
  justify-self: start;
  margin-left: 16px;
}
.resistence{
  grid-area: resistence;
  justify-self: end;
  margin-right: 16px;
} 
.armor {
  grid-area: armor;
  justify-self: start;
  margin-left: 16px;
}
.firePower{
  grid-area: firePower;
  justify-self: center;
}
.reset{
  grid-area: reset;
  justify-self: end;
  margin-right: 16px;
  align-self: center;
  margin-bottom: 16px;
} 
.save{
  grid-area: save;
  justify-self: start;
  margin-left: 16px;
  
  align-self: center;
  margin-bottom: 16px;
}

.createPokeThemeIconContainer {
  grid-area: themeIcon;
  align-self: flex-start;
  justify-self: start;
}

.createPokeThemeIcon{
  
  margin-top: 24px;
  margin-left: 48px;
}

.helpContainer {
  margin-top: 24px;
  margin-left: 48px;
}