.nameContent{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 160px;
  height: 36px;
  margin: 0;
  background-color: var(--sizzling-red);
  font-size: 14px;
  line-height: 38px;
  border-radius: 15px;
  color: var(--white);
}

.nameChange {
  grid-area: name;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nameBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.nameBar {
  width: 160px;
}

.countNumber {
  display: flex;
  width: 46px;
  height: 36px;
  background-color: var(--sizzling-red);
  font-size: 14px;
  border-radius: 15px;
  color: var(--white);
  align-items: center;
  justify-content: center;
}

.nameChangeFooter {
  display: flex;
  align-items: center;
  gap: 2px;
}

.previousButton {
  border: none;
  width: 20px;
  height: 20px;
  background: var(--sizzling-red);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.nextButton{
  border: none;
  width: 20px;
  height: 20px;
  background: var(--sizzling-red);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.nextButton:hoveR{
  border: 1px solid var(--white);
}

.previousButton:hoveR{
  border: 1px solid var(--white);
}

.imgArrow{
  margin-top: 45%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 160px;
  height: 6px;
  background: var(--sizzling-red);
  border-radius: 5px;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--sizzling-red);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
}