.nameContent{
  box-sizing: border-box;
  width: 14.6rem;
  height: 2rem;
  text-align: center;
  margin: 0;
  background-color: var(--darkWhite);
  font-size: 1.5rem;
}

.nameChange {
  grid-area: name;
  display: flex;
  align-items: center;
}

.previousButton {
  border-radius: 5px 0px 0px 5px;
}

.nextButton{
  border-radius: 0px 5px 5px 0px;
}