.totalContainer {
  display: flex;
  border-radius: 5px;
  align-items: center;
  width: 108px;
  height: 32px;
  background-color:var(--dark-purple);
  border-radius: 25px;
  gap: 8px;
  justify-content: start;
}

.totalContainer > img{
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

.totalContainer > p {
  color: var(--white);
}

