.inputNickName {
  box-sizing: border-box;
  width: 15.4rem;
  height: 2.5rem;
  text-align: center;
  margin: 0;
  font-size: 1rem;
  line-height: 38px;
  margin-top: 16rem;
  margin-bottom: 16rem;
  border-radius: 5px;
}


.createButton:disabled:hover {
  border: none;
}