.mana {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mana  h2 {
  margin: 0;
  margin-left: 1.5rem;
}

.mana  div {
  margin-left: 1.5rem;
}

.manaNumber {
  border-radius: 5px;
  width: 50px;
}