.inputNickName {
  box-sizing: border-box;
  width: 148px;
  height: 40px;
  outline-style: initial;
  border: 1px solid var(--sizzling-red);
  border-radius: 10px;
  background-color: transparent;
  color: var(--white);
  font-family: 'Play', sans-serif;
  margin: 0;
}

.inputNickName::placeholder {
  color: var(--white);
  font-size: 14px;
}
