.inputNickName {
  box-sizing: border-box;
  width: 148px;
  height: 40px;
  outline-style: initial;
  border: 1px solid var(--mainGreen);
  filter: drop-shadow(-3px -3px 3px rgba(56, 176, 0, 0.15)) drop-shadow(3px 3px 3px rgba(56, 176, 0, 0.15));
  border-radius: 10px;
  background-color: transparent;
  color: var(--mainGreen);
  font-family: 'Play', sans-serif;
  margin: 0;
}

.inputNickName::placeholder {
  color: var(--mainGreen);
  
}
