.containerStatusProfile{
  width: 310px;
  height: 436px;
  background: var(--sizzling-red);
  border-radius: 25px;
  display: grid;
  grid-template-areas: 
  "img img"
  "pricipalStatus atributes"
  "nick nick"
  ;
}

.containerPrincipalStatus{
  grid-area: pricipalStatus;
  justify-self: center;
}