.containerStatusProfile{
  width: 310px;
  height: 436px;
  background: linear-gradient(180deg, rgba(56, 176, 0, 0.6) 0%, rgba(0, 128, 0, 0.6) 100%);
  border-radius: 25px;
  display: grid;
  grid-template-areas: 
  "img img"
  "pricipalStatus atributes"
  "nick nick"
  ;
}

.containerPrincipalStatus{
  grid-area: pricipalStatus;
  justify-self: center;
}