
.faseBattleDisplay{
  display: flex;
  width: 112px;
  height: 174px;
  border: 1px solid var(--mainGreen);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.faseBattleDisplay > p {
  margin: 0;
  width: 79px;
  height: 24px;
  background: linear-gradient(98.09deg, #38B000 8.3%, #008000 97.67%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: var(--blackTheme);
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  font-weight: 700;
}

